* {
  font-family: "Radio Canada Big", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centrar_text {
  text-align: center;
}

header a {
  text-decoration: none;
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  list-style: none;
}

main {
  background-color: rgb(0, 0, 0);
}
main h2 {
  font-size: 15px;
  color: #fff;
}
main form {
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #fff;
  flex-wrap: nowrap;
  align-items: center;
}

.index-header {
  background-image: url(../img/portfaraon.jpg);
  background-size: cover;
  background-position: center;
  border: 4px solid rgb(0, 0, 0);
  height: 25vh;
}
.index-header nav a {
  border: 2px solid rgb(209, 143, 0);
  font-size: 0.9rem;
  color: rgb(209, 143, 0);
}
.index-header h1 {
  font-size: 2rem;
}
.index-header-contenedor-superior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.index-header-contenedor-inferior {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 35vh;
}
.index-header-contenedor-inferior h2 {
  font-weight: 900;
  color: rgb(0, 0, 0);
}
.index-header-contenedor-inferior p {
  font-size: 0.8rem;
  font-weight: 500;
  color: rgb(0, 0, 0);
}

.main_menu img {
  justify-content: center;
  align-content: center;
  width: 45vw;
}
.main_menu h3 {
  color: rgb(54, 35, 0);
  text-align: center;
  font-size: 2vw;
  background-color: rgb(185, 185, 185);
}

.carousel-caption {
  display: block !important;
  font-size: 1rem;
}

.titulo-carrousel {
  font-size: 20px;
}

.texto-carrousel {
  font-size: 13px;
}

.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 12px;
}

.pie {
  background-color: rgb(0, 0, 0);
  height: 7rem;
  color: black;
}
.pie p {
  background-color: rgb(128, 128, 128);
  font-size: 8px;
}

footer img {
  width: 2rem;
  height: 2rem;
  object-fit: cover;
}

.footer-contenedor {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

@media only screen and (min-width: 800px) {
  .index-header {
    height: 55vh;
  }
  .index-header h1 {
    font-size: 2.5rem;
  }
  .index-header nav a {
    font-size: 1.2rem;
  }
  .index-header-contenedor-inferior {
    height: 59vh;
  }
  .index-header-contenedor-inferior h2 {
    font-size: 4rem;
  }
  .index-header-contenedor-inferior p {
    font-size: 1.5rem;
  }
  .titulo-carrousel {
    font-size: 75px;
  }
  .texto-carrousel {
    font-size: 18px;
  }
  main h2 {
    font-size: 30px;
    text-decoration: underline;
  }
  .card-title {
    font-size: 25px;
  }
  .card-text {
    font-size: 18px;
  }
}


