@import "./utilities/variables";
@import "./layout/header";
@import "./layout/main";
@import "./layout/footer";
@import "./mq/mq";

*{
    font-family: "Radio Canada Big", sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-color: $negro;
}