// Variables
$color-negro: rgb(0, 0, 0);
$color-dorado: rgb(209, 143, 0);
$color-marron: rgb(54, 35, 0);
$color-gris: rgb(185, 185, 185);
$color-gris-oscuro: rgb(128, 128, 128);
$color-blanco: #fff;

// Estilo general
* {
  font-family: "Radio Canada Big", sans-serif;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.centrar_text {
  text-align: center;
}

header {
  a {
    text-decoration: none;
  }
}

ul {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.7rem;
  list-style: none;
}

main {
  background-color: $color-negro;

  h2 {
    font-size: 15px;
    color: $color-blanco;
  }

  form {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: $color-blanco;
    flex-wrap: nowrap;
    align-items: center;
  }
}

// Estilo Header
.index-header {
  background-image: url(../img/portfaraon.jpg);
  background-size: cover;
  background-position: center;
  border: 4px solid $color-negro;
  height: 25vh;

  nav {
    a {
      border: 2px solid $color-dorado;
      font-size: 0.9rem;
      color: $color-dorado;
    }
  }

  h1 {
    font-size: 2rem;
  }

  &-contenedor-superior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  &-contenedor-inferior {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 35vh;

    h2 {
      font-weight: 900;
      color: $color-negro;
    }

    p {
      font-size: 0.8rem;
      font-weight: 500;
      color: $color-negro;
    }
  }
}

// Estilo Main
.main_menu {
  img {
    justify-content: center;
    align-content: center;
    width: 45vw;
  }

  h3 {
    color: $color-marron;
    text-align: center;
    font-size: 2vw;
    background-color: $color-gris;
  }
}

.carousel-caption {
  display: block !important;
  font-size: rem; // ⚠️ revisá esto, falta el número
}

.titulo-carrousel {
  font-size: 20px;
}

.texto-carrousel {
  font-size: 13px;
}

.card-title {
  font-size: 18px;
}

.card-text {
  font-size: 12px;
}

// Estilo Footer
.pie {
  background-color: $color-negro;
  height: 7rem;
  color: black;

  p {
    background-color: $color-gris-oscuro;
    font-size: 8px;
  }
}

footer {
  img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
  }
}

.footer-contenedor {
  display: flex;
  justify-content: center;
  gap: 1rem;
  margin-top: 2rem;
}

// Media Queries
@media only screen and (min-width: 800px) {
  .index-header {
    height: 55vh;

    h1 {
      font-size: 2.5rem;
    }

    nav {
      a {
        font-size: 1.2rem;
      }
    }

    &-contenedor-inferior {
      height: 59vh;

      h2 {
        font-size: 4rem;
      }

      p {
        font-size: 1.5rem;
      }
    }
  }

  .titulo-carrousel {
    font-size: 75px;
  }

  .texto-carrousel {
    font-size: 18px;
  }

  main {
    h2 {
      font-size: 30px;
      text-decoration: underline;
    }
  }

  .card-title {
    font-size: 25px;
  }

  .card-text {
    font-size: 18px;
  }
}
