.pie {
    background-color: $negro;
    padding: 1rem 0;
    text-align: center;
    height: 7rem;
}
.derechos-footer {
    background-color: $gris;
    color: $negro;
    width: 100%;
    margin: 0;
    padding: 0.2rem 0;
    font-size: 0.7rem;
}

.footer-contenedor {
    display: flex;
    justify-content: center;
    gap: 3rem;
    margin-top: 1rem;
}
a img {
    width: 2rem;
    height: 2rem;
    object-fit: cover;
}
