.index-header {
  display: flex;
  justify-content: end;
  align-items: center;
  background-image: url(../img/portfaraon.jpg);
  background-size: cover;
  background-position: center;
  height: 55vh;
  width: 100%;
  position: relative;
  margin-top: 50px;
}
.intro-inferior{
  display: flex;
  flex-direction: column;
  justify-content: center;
  
  padding-right: 5%;
  
  width: 50%;
}
.intro-inferior p{
  font-size: 0.75rem;
}
.navbar a{
    color: $naranja;
}